//colors
$color1: #55c57a;
$color2: #7ed56f;
$color3: #28b485;
$color4: #777;
$color5: #ffffff;
$color6: #f7f7f7;
$color7: #000;
$color8: #ffb900;
$color9: #ff7730;
$color10: #2998ff;
$color11: #5643fa;


//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;